<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title -Payment Demo Neolife</title>
    @Styles.Render("~/Content/css/bootstrap.min.css")
    <script type="text/javascript" src="~/Content/jquery-3.2.1.min.js"></script>


    <style>
        small{
            font-size: 12px;
            line-height: 5px;
            padding:0;
            margin:0;
        }

        .bg-neolife {

            background: #80c342;
        }

        .badge{
            font-size: 20px;
        }
    </style>
</head>
<body>

    <nav class="navbar navbar-toggleable-xl navbar-inverse bg-neolife">
        <div class="container">
            <a class="navbar-brand" href="/">Payment Demo - Neolife Africa</a>
        </div>
    </nav>

    <div class="container body-content" style="margin-top:20px;">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Payment Demo Neolife</p>
        </footer>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="https://mcommerce.gnld-ng.com/assets/ussd.js"></script>
    <script type="text/javascript">
        $(() => {

            $('#pay-with-ussd').click(() => {

                $('#pay-with-ussd').html('Loading Payment Gateway...');

                USSD.setup({

                    amount       : @ViewBag.Amount,
                    orderId      : @ViewBag.OrderId,
                    msisdn       : '2348175020329', //Customer MSISDN (Mobile Phone Number)
                    description  : 'Payment of @ViewBag.Amount For 063-0863717 Via USSD Site',
                    callback     : '@Url.Action("ussdcallback", "home", null, Request.Url.Scheme)'

                });
            })
        })
    </script>
</body>
</html>
